/.internal
/build
/utils/runtime/build
/utils/runtime/spine-runtimes*
/utils/runtime/*.zip
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
/utils/runtime/build
/utils/runtime/*.zip
