/.internal
/build
/bundle**
/utils/runtime/build
/utils/runtime/spine-runtimes*
/utils/runtime/*.zip
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
bob.jar
/.editor_settings
/AGENTS.md
/debug.keystore
/debug.keystore.pass.txt
