/.internal
/build
/bundle**
/utils/runtime/build
/utils/runtime/spine-runtimes*
/utils/runtime/*.zip
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
/utils/runtime/build
/utils/runtime/*.zip
bob.jar
/spine_tester/generated/data.lua
/spine_tester/generated/go.go
